/*body, html {
  height: 100%;
  margin: 0;
  background-color: lightskyblue;
}*/

h1 {
  text-align:center;
  padding: 5%;
}

.navbar-water {
  margin-top: 0%;
  margin-bottom: 0%;
  margin-right: 0%;
  margin-left: 0%;
}

.navbar-training {
  margin-top: 0%;
  margin-bottom: 0%;
  margin-right: 0%;
  margin-left: 40%;
}

section {
  display: table;
  margin-top: 5%;
  margin-left: 20%;
}

.example-button-row {
  display: table-cell;
  width: 1000px;
}

button {
  padding: 10%;
  border-radius: 20%;
  font-size: 150%;
}
